.table {
    width: 100%;
}
.main-btn {
    &:hover {
        box-shadow: 1px 1px 5px #888;
    }
    button {
        height: 10rem;
        width: 10rem;
        border: 0;
        background-color: cornflowerblue;
    }
}